

/*musthafa@netbios.in*/

.quickLinks {
	vertical-align: baseline;
	position: relative;
	height: 40px;
	background:#33CCCC;
	bottom: 0px;
	width: 798px;
}


.quickLinksWidget {
	z-index: 12;
	top: 230px;
	left: 0px;
	position:fixed;

}
.widgets {
	z-index: 13;
	position: fixed;
	top: 275px;
	right: -191px;
}

.widgets-mus {
	z-index: 13;
	position:  fixed;
	top: 325px;
	right: -191px;
}
.widgets-mti {
	z-index: 13;
	position:  fixed;
	top: 396px;
	right: -355px;
}



.megamenu {
    display:none;
	position:absolute;
	left: 0;
	top: 0;
	
/*	border:1px solid #EE0E18;
	padding-top:15px; */
	z-index: 1;
/*	padding-bottom:10px;*/
}

DIV#Navigation{ width:830px; height:48px; padding-left:0px; float:left;}
DIV#Navigation A.department{ width:172px; height:48px; background:url(../images/navbg.gif) left top no-repeat; float:left;}
DIV#Navigation A.facilities{ width:156px; height:48px; background:url(../images/navbg.gif) -172px top no-repeat; float:left;}
DIV#Navigation A.patient{ width:175px; height:48px; background:url(../images/navbg.gif) -328px top no-repeat; float:left; }
DIV#Navigation A.education{ width:174px; height:48px; background:url(../images/navbg.gif) -504px top no-repeat; float:left; }
DIV#Navigation A.community{ width:147px; height:48px; background:url(../images/navbg.gif) -678px top no-repeat; float:left; }

DIV#Smallmenu{ width:384px; height:24px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#4a4a4a; padding-top:13px;}

DIV#Smallmenu a{  text-decoration:none; color:#4a4a4a; padding-left:8px; padding-right:8px;}
DIV#Smallmenu a:hover{ text-decoration:underline;}

DIV#News{ width:279px; height:100px; background:#FFFFFF; overflow:hidden;}

DIV#News ul{ margin:0px; padding:0px; list-style:none;}
DIV#News ul li{ margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#001a68; background:url(../images/arow.gif) left 10px no-repeat; padding-top:6px; padding-bottom:4px; padding-left:11px;}
