/**
 * CSS styles for CLinkPager.
 *
 * @author Qiang Xue <qiang.xue@gmail.com>
 * @link http://www.yiiframework.com/
 * @copyright 2008-2010 Yii Software LLC
 * @license http://www.yiiframework.com/license/
 * @since 1.0
 */

ul.yiiPager
{
	font-size:11px;
	border:0;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;
}

ul.yiiPager li
{
	display:inline;
	
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	border:solid 1px #BE2E47;
	font-weight:bold;
	color:#BE2E47;
	padding:1px 6px;
	text-decoration:none;
	padding:10px;
}

ul.yiiPager .page a
{
	font-weight:normal;
	padding:10px;
	
}

ul.yiiPager a:hover
{
	border:solid 1px #E236C0;
	background: #E236C0;
	color:#FFF;
}

ul.yiiPager .selected a
{
	background:#BE2E47;
	color:#FFFFFF;
	font-weight:bold;
}

ul.yiiPager .hidden a
{
	border:solid 1px #BE2E47;
	color:#888888;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}
