
@media (max-width: 980px) {
    .menu {
        width: 286px;
        position: fixed;
        right: 0px;
        background: #fff;
        list-style: none;
        padding: 0px;
        margin: 0px;
        right: -286px;
        overflow-y: scroll;
        transition: all 0.3s;
        display: block;
        z-index: 1002;
		height:100%;
		background:#3d4549;
    }
    .menu li {
        color: #fff;
        list-style: none;
        position: relative;
        display: block;
        border-bottom: solid 1px #646a6d;
		width:100%;
		background:#3d4549;
		padding:7px 4%
    }
    .menu li a {
        color: #fff;
		font-size:13px !important;
        display: block;
      /*  padding: 7px 10px;*/
        transition: all 1s
    }
    .menu li a:hover {
        text-decoration: none;
        color: #ff9700 ;
    }
	.menu li img{
		padding:7px 8px 9px;
	}
    .menu li ul {
        display: none;
        overflow: hidden
    }
    .menu li:hover.open>ul {
        display: list-item;
        transition: all ease 0.2s;
        padding: 0px;
        margin: 0px
    }
    .menu li li {
        position: relative;
        display: block
    }
    .menu li li a {
        display: block
    }
    .main-menu ul li.submenu i {
        position: absolute;
        width: 43px;
        height: 40px;
        top: 0;
        right: 0;
        cursor: pointer;
       /* border-left: solid 1px #b0476c */
    }
    .main-menu ul li.submenu i:after {
        content: "";
        height: 0;
        width: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 6px solid #ccc;
        position: absolute;
        right: 17px;
        top: 20px;
        z-index: 10
    }
    .mob-btn {
        border-radius: 7px;
        border: none;
        color: #fff;
        text-transform: uppercase;
        padding:5px 8px 9px;
        left:0;
        top: 26px ;
        float:left;
        position:relative;
        background-color:transparent;
		border: 2px solid #fff;
        display: block;
        z-index: 999
    }
	.mob-btn:hover {
        background-color:#211d70/*ff9700*/;
	}
    .mob-btn .icon-bar {
        background: none repeat #fff;
        border-radius: 0px;
        display: block;
        height: 2px;
        position: relative;
        transition: all 0.5s ease-in-out 0s;
        width: 17px;
        margin-top: 3px
    }
    .open .menu {
        left: 0px;
		top: -20px
    }
    .show-menu .menu {
        right: 0px
    }
    .open .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1001
    }
    .main-nav {
        display: none
    }
    .news-txt {
        width: 49%
    }
    .news-box input {
        width: 59%
    }
}
